<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,500;0,700;0,900;1,300;1,500;1,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css"   href="/css/style.css">
    <title>Carverse</title>
</head>

<body>

    <header id="header">

        <nav id="nav-bar">
            <div id="logo">
                Carverse
            </div>
            
            <ul id="nav-links">
                <a href="/"><li>Home</li></a>
                <a href="/contact"><li>Contact Us</li></a>
                <a href="/buy"><li>Buy</li></a>

                <% if(!currentUser){ %> 
                    <a id="active" href="/login"><li>Login</li></a>
                    <a href="/register">Register</a>
                    <% }else{ %> 
                    <a href="/logout">Logout</a>
                    <% } %> 

            </ul>


        </nav>

    </header>


    <main id="main">
    <section class="login-container">
      <form  action="/login" method="post">
        <img id="car-img" src="/images/ford.jpg" alt="">
        <div id="login-box">
            <div class="form-item" >
                <label for="name"> Username</label>
                <input  class="input" id="name" name="username" type="text" placeholder="Name">
            </div>
            <div class="form-item" >
                <label for="password"> Password</label>
                <input class="input" id="password"  name="password" type="password" placeholder="Password">
            </div>

            <button class="form-item button" type="submit">Login</button>
        </div>  
      </form>

        </section>



    </main>


 


</body>

</html>